<div class="Box-header">
  <h3 class="Box-name">Próximos vencimientos</h3>
</div>
<div class="Box-body">
  <ul class="List">
    {% for item in resources_due_dates %}
      <li class="List-item u-px0">
        <div class="Media-body">
          <span class="Box-info"><span class="Status Status--{{ item.color }}">{{ item.due_date }}</span></span>
          <h3 class="Box-title u-h5 u-mb1">
            <a href="/dataset/{{ item.resource.package_id }}/resource/{{ item.resource.id }}">{{ item.resource.name }}</a>
          </h3>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
<div class="Box-footer">
  <a href="{{ h.url_for('dashboard.datasets') }}" class="Box-more">{{ _('See my Data sets') }}</a>
</div>
