{% ckan_extends %}

{% block breadcrumb_share_social %}
  <h2 class="Group-title UN-cabezal-title">{{ _('Users') }}</h2>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('user.read', _('Datasets'), id=user.name, icon='sitemap') }}
  {{ h.build_nav_icon('user.activity', _('Activity Stream'), id=user.name, icon='clock-o') }}
  {% if h.check_access('sysadmin') %}
    {{ h.build_nav_icon('agesic_user_blueprint.agesic_user_organizations', _('Organizations'), id=user.name, icon='building-o') }}
  {% endif %}
{% endblock %}

{% block content_action %}
  {% if h.check_access('user_update', user) %}
    {% link_for _('Manage'), named_route='user.edit', id=user.name, class_='Button Button--primary', icon='wrench' %}
  {% endif %}
{% endblock %}

{% block secondary_content %}
<div class="module module-narrow module-shallow context-info">
<div style="padding: 1rem">
  <section class="module-content">
    {{ super() }}
  </section>
</div>
</div>
{% endblock %}
