{% ckan_extends %}

{% block info_module %}
    <section class="module module-narrow module-shallow">
      <h2 class="module-heading"><i class="icon-info-sign"></i> {{ _('What are datasets?') }}</h2>
      <div class="module-content">
        <p>
          Un conjunto de datos es una colección de recursos con datos (cómo archivos), junto a una descripción y otra información en una URL fija. Los conjuntos de datos son lo que los usuarios ven como resultado en una búsqueda de datos.
        </p>
      </div>
    </section>
{% endblock %}
