{% ckan_extends %}

{% block content_primary_nav %}{% endblock %}

{% block content_action %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
    {% link_for _('Manage'), named_route=pkg.type ~ '.edit', id=pkg.name, class_='Button Button--primary', icon='wrench'  %}
  {% endif %}
{% endblock %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_info %}
    {% snippet 'package/snippets/resources.html', pkg=pkg %}
  {% endblock %}

  {% block package_organization %}
  {% endblock %}

  {% block package_social %}
  {% endblock %}

  {% block package_license %}
  {% endblock %}

{% endblock %}
